
/* custom template */
html, body {
   height: 100%;
   font-family:'Open Sans',arial,sans-serif;
}

a {
  color:#222222;
}


.mid{
  padding-left: 200px;
  padding-right: 200px;
}
.mid1{
  padding-left: 130px;
  padding-right: 100px;
}

#upload{
  border: 1px solid black;
  width:330px;
  padding: 10px;
}
.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-image:url('/img/dada.jpg');
    background-size:cover;
    background-attachment:fixed;
}

.divider {
	margin-top:32px;
}

.padbot {
  padding-bottom: 25px;
}
.padtop {
  padding-top: 25px;
}

#remove {
  color:#4486CE;
}

#main {
    background-color: #FFFFFF;
}
#main .img-circle {
  margin-top:18px;
  height:70px;
  width:70px;
}

.img-block{
  height:140px;
  width:110px;
}

#sidebar, #sidebar a {
    color:#D9D9DD;
    background-color:transparent;
    font-size:18px;
	  text-shadow:2px 1px 1px #000;
}
#sidebar a.logo {
  display:block;
  padding:3px;
  background-color:#fff;
  color:#777777;
  height:40px;
  width:55px;
  margin:15px;
  font-size:26px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 0;
  box-shadow: 7px 7px 4px #777;

}
#sidebar-footer {
  position:absolute;bottom:5px;
}
#footer {
  margin-bottom:20px;
}

/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
  #sidebar,#sidebar a.logo {
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    font-size:26px;
  }
  #sidebar a.logo {
    font-size:50px;
    height:80px;
    width:90px;
    margin-bottom:30px;
  }
  .badge {
   width: 28px;
   height:19px;
   float: left;
  }
  .mid{
  padding-left: 0px;
  padding-right: 0px;
  }
}




/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
   font-family:'Open Sans',arial,sans-serif;
}

.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}
