#gamebox {

height: 500px;
width: 500px;
cursor:url('/img/whack/cursor.png'), auto;

}


#scorebox {

	height: 50px;
	width: 150px;
	border: 3px solid #FFF;
	background-color: #9c030b;
	margin-bottom: 5px;
}

#startbutton {
	color: #041b42;
	font-family: 'Oldenburg', cursive;
	font-weight: 900;
	font-size: 2em;
	height: 50px;
	width: 150px;
	border: 3px solid #FFF;
	background-color: #9c030b;
	margin-top: 25px;
}

#b {
	
	height: 350px;
	width: 205px;
	margin-right: 60px;
	margin-top: 20px;

}

#scoretext {
	margin-top: 5px;
	color: #041b42;
	font-family: 'Oldenburg', cursive;
	font-weight: 900;
	font-size: 1em;
	padding: 2px;
}

#main {
	background-color: #041b42;
}

.boxes {
	height: 33.333%;
	width: 33.334%;
	border: 1px solid #FFF;
	float:left;
}

.boxes > img {
	padding-top: 10px;
	padding-left: 10px;
	display:none;
}
