#gamebox {

height: 500px;
width: 500px;
border: 2px solid black;
float:left;

}

#scorebox {
	float:left;
	height: 50px;
	width: 150px;
	border: 2px solid red;
	margin-bottom: 5px;
}

#scoretext {
	color: red;
	font-weight: 800;
	padding: 13px;
}

.boxes {
	height: 33.333%;
	width: 33.334%;
	border: 1px solid blue;
	float:left;
}

.boxes > img {
	padding: 5px;
	display:none;
}
