/* Todo StyleSheet */

h1#main-head{
	text-decoration: none;
}

h1,h2 {
	text-decoration: underline;
}

#body{
	line-height:2em;
    margin:1em 2em;
    border:6px outset #9a9;
    background:#efe;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
	margin:25px;
	width:350px;
	position:relative;
	left:405px;
	font-family: 'Pompiere', cursive;
	font-weight: 600;
}

#back {
	background-image: url(/img/bg1.png);
}

ul{
	list-style: square;
	list-style-position:inside;
}

.add {
	text-align:center;
}